n8n-Workflows/linkedin-scraper-trigger.json
{
  "name": "LinkedIn Scraper Trigger",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "128RY8rQ4iWzYaIcVgBHK-uEqurFpp3ncPplwqplut5c",
          "mode": "list",
          "cachedResultName": "Sales_Automation_Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/128RY8rQ4iWzYaIcVgBHK-uEqurFpp3ncPplwqplut5c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1423482434,
          "mode": "list",
          "cachedResultName": "Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/128RY8rQ4iWzYaIcVgBHK-uEqurFpp3ncPplwqplut5c/edit#gid=1423482434"
        },
        "event": "rowAddedOrUpdated",
        "options": {
          "triggerColumns": [
            "Qualify Approval"
          ]
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e890c01a-82da-4dcc-b914-a34a318d48b7",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleApi": {
          "id": "ZxcHLIDq1mfemGsQ",
          "name": "Drip-Campaign-Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json['Qualify Approval'].toLowerCase() }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "c2",
              "leftValue": "={{ $json['Automation Status'] }}",
              "rightValue": "Pending Qualify Review",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        250,
        0
      ],
      "id": "102c06f9-1be8-43cd-8993-24674ef0d702",
      "name": "Is Approved & Pending Scrape?"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "128RY8rQ4iWzYaIcVgBHK-uEqurFpp3ncPplwqplut5c",
          "mode": "list",
          "cachedResultName": "Sales_Automation_Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/128RY8rQ4iWzYaIcVgBHK-uEqurFpp3ncPplwqplut5c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1782297403,
          "mode": "list",
          "cachedResultName": "Profiles",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/128RY8rQ4iWzYaIcVgBHK-uEqurFpp3ncPplwqplut5c/edit#gid=1782297403"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Profile URL": "={{ $json['(I) LinkedIn URL'] }}",
            "Email": "={{ $json['Email'] }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        500,
        -100
      ],
      "id": "e890c01a-82da-4dcc-b914-a34a318d48b8",
      "name": "Add to Profiles Queue",
      "credentials": {
        "googleApi": {
          "id": "ZxcHLIDq1mfemGsQ",
          "name": "Drip-Campaign-Sheets"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "128RY8rQ4iWzYaIcVgBHK-uEqurFpp3ncPplwqplut5c",
          "mode": "list",
          "cachedResultName": "Sales_Automation_Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/128RY8rQ4iWzYaIcVgBHK-uEqurFpp3ncPplwqplut5c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1423482434,
          "mode": "list",
          "cachedResultName": "Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/128RY8rQ4iWzYaIcVgBHK-uEqurFpp3ncPplwqplut5c/edit#gid=1423482434"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company": "={{ $json['Company'] }}",
            "Automation Status": "LinkedIn Scrape Queued"
          },
          "matchingColumns": [
            "Company"
          ],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        750,
        -100
      ],
      "id": "e890c01a-82da-4dcc-b914-a34a318d48b9",
      "name": "Update Status in Pipeline",
      "credentials": {
        "googleApi": {
          "id": "ZxcHLIDq1mfemGsQ",
          "name": "Drip-Campaign-Sheets"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/api/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source\": \"n8n_scraper_trigger\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1000,
        -100
      ],
      "id": "445603e5-009b-42df-bf56-364773b112fg",
      "name": "Trigger Scraper API",
      "credentials": {
        "httpHeaderAuth": {
          "id": "qrdNse5XYDCtIWMu",
          "name": "Codex-API-Key"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Is Approved & Pending Scrape?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Approved & Pending Scrape?": {
      "main": [
        [
          {
            "node": "Add to Profiles Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Profiles Queue": {
      "main": [
        [
          {
            "node": "Update Status in Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status in Pipeline": {
      "main": [
        [
          {
            "node": "Trigger Scraper API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "be86aaf2-c08e-4789-8c83-4b106b8610f4",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "RUoYjGEkXZO0NCuW"
}
