n8n-Workflows/Outreach Prep.json
{
  "name": "Outreach Prep",
  "nodes": [
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "128RY8rQ4iWzYaIcVgBHK-uEqurFpp3ncPplwqplut5c",
          "mode": "list",
          "cachedResultName": "Sales_Automation_Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/128RY8rQ4iWzYaIcVgBHK-uEqurFpp3ncPplwqplut5c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1423482434,
          "mode": "list",
          "cachedResultName": "Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/128RY8rQ4iWzYaIcVgBHK-uEqurFpp3ncPplwqplut5c/edit#gid=1423482434"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Qualify Approval",
              "lookupValue": "Yes"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -448,
        192
      ],
      "id": "dcb30b7a-9dac-47f2-abc8-54f5c2f69d66",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleApi": {
          "id": "ZxcHLIDq1mfemGsQ",
          "name": "Drip-Campaign-Sheets"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -224,
        192
      ],
      "id": "d1676ce5-def2-45b0-80cb-7d60bdb1b5ac",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1HToRDMwbiez28r3M6T0mO8bMcbESNYJZ",
          "mode": "list",
          "cachedResultName": "OutreachResults",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1HToRDMwbiez28r3M6T0mO8bMcbESNYJZ"
        },
        "markdownInput": "={{ $json.text }}",
        "documentTitle": "={{ $('Loop Over Items').item.json.Company }}",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-md-to-docs.markdownToGoogleDocs",
      "typeVersion": 1,
      "position": [
        1120,
        192
      ],
      "id": "6d6a86de-a580-4b81-ba7f-6e224ea6e4e4",
      "name": "Markdown to Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "MEWGIk4ZaLQ5LYyX",
          "name": "Drip Campaign PythonTech3"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "128RY8rQ4iWzYaIcVgBHK-uEqurFpp3ncPplwqplut5c",
          "mode": "list",
          "cachedResultName": "Sales_Automation_Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/128RY8rQ4iWzYaIcVgBHK-uEqurFpp3ncPplwqplut5c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1423482434,
          "mode": "list",
          "cachedResultName": "Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/128RY8rQ4iWzYaIcVgBHK-uEqurFpp3ncPplwqplut5c/edit#gid=1423482434"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company": "={{ $('Loop Over Items').item.json.Company }}",
            "Outreach Research": "={{ $json.documentUrl }}",
            "Automation Status": "Research Complete",
            "Workflow Path": "Outreach Prep"
          },
          "matchingColumns": [
            "Company"
          ],
          "schema": [
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Raw Data Status",
              "displayName": "Raw Data Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Raw Data Name",
              "displayName": "Raw Data Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Zip Code",
              "displayName": "Zip Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Opt Out",
              "displayName": "Email Opt Out",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Salutation",
              "displayName": "Salutation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Secondary Email",
              "displayName": "Secondary Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(I) LinkedIn URL",
              "displayName": "(I) LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(C) LinkedIn",
              "displayName": "(C) LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(C) Phone",
              "displayName": "(C) Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(C) Email",
              "displayName": "(C) Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(I) Other Social Channel URLs",
              "displayName": "(I) Other Social Channel URLs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(I) Notes",
              "displayName": "(I) Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Background & Notes",
              "displayName": "Background & Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Raw Data Sub-Status",
              "displayName": "Raw Data Sub-Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Business Model",
              "displayName": "Business Model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(I) Country",
              "displayName": "(I) Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Point of Contacts",
              "displayName": "Point of Contacts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Row ID",
              "displayName": "Row ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Include in Qualify Batch",
              "displayName": "Include in Qualify Batch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Workflow Path",
              "displayName": "Workflow Path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Qualify Score (0-100)",
              "displayName": "Qualify Score (0-100)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Pass Score Gate (>=40)",
              "displayName": "Pass Score Gate (>=40)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Qualify Doc Link",
              "displayName": "Qualify Doc Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Qualify Approval",
              "displayName": "Qualify Approval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Automation Status",
              "displayName": "Automation Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Outreach Research",
              "displayName": "Outreach Research",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email Draft Doc Link",
              "displayName": "Email Draft Doc Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Approval",
              "displayName": "Email Approval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Ready for Outreach (WF B)",
              "displayName": "Ready for Outreach (WF B)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Ready for Send (WF C)",
              "displayName": "Ready for Send (WF C)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Qualify Batch ID",
              "displayName": "Qualify Batch ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Outreach Batch ID",
              "displayName": "Outreach Batch ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Send Batch ID",
              "displayName": "Send Batch ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Skip / Reject Reason",
              "displayName": "Skip / Reject Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Sent Date",
              "displayName": "Sent Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CRM Logged",
              "displayName": "CRM Logged",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1344,
        192
      ],
      "id": "7ace849f-05b4-4a42-b68e-49fb01290361",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleApi": {
          "id": "ZxcHLIDq1mfemGsQ",
          "name": "Drip-Campaign-Sheets"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "4068d5a1-15d5-468c-8df4-359cd325a698",
      "name": "Notify User",
      "webhookId": "3fe42871-9b06-4c9e-acb6-0f9f41045515",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/execute/batch",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompts\": [\n    {{ ($json.data[0].prompt + $('Loop Over Items').item.json.Website.trim() || $('Loop Over Items').item.json.Company).toJsonString() }},\n    {{ ($json.data[1].prompt + $('Loop Over Items').item.json.Website.trim() || $('Loop Over Items').item.json.Company).toJsonString() }}\n  ],\n  \"session_id\": {{ $('Loop Over Items').item.json.Company.toLowerCase().replace(/\\s+/g, '_').toJsonString() }},\n  \"include_stdout\": false\n}",
        "options": {
          "timeout": 600000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        192
      ],
      "id": "adbb2a97-39b4-4586-a309-518509c2815c",
      "name": "Research + Contacts",
      "credentials": {
        "httpHeaderAuth": {
          "id": "qrdNse5XYDCtIWMu",
          "name": "Codex-API-Key"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "zG1xBeZ319BcFe7U",
          "mode": "list",
          "cachedResultName": "prompts",
          "cachedResultUrl": "/projects/MGBxbNjjcY5i38sR/datatables/zG1xBeZ319BcFe7U"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "2"
            },
            {
              "keyValue": "3"
            },
            {
              "keyValue": "4"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        0,
        192
      ],
      "id": "0b11e133-1fcc-4472-bf0c-e0ab67a3b0d5",
      "name": "Get row(s)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -672,
        192
      ],
      "id": "792bee4d-6379-4dc9-90b4-0f309cac4d4a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        224,
        192
      ],
      "id": "dc13ff55-b027-48ed-a477-686b0b7c6b81",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/execute",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": {{ ($('Aggregate').item.json.data[2].prompt + $('Loop Over Items').item.json.Website.trim() || $('Loop Over Items').item.json.Company).toJsonString() }},\n  \"session_id\": {{ $('Loop Over Items').item.json.Company.toLowerCase().replace(/\\s+/g, '_').toJsonString() }},\n  \"include_stdout\": false\n}",
        "options": {
          "timeout": 600000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        192
      ],
      "id": "6bb86741-b39c-4d71-a3bf-f1838555af4c",
      "name": "Competitors",
      "credentials": {
        "httpHeaderAuth": {
          "id": "qrdNse5XYDCtIWMu",
          "name": "Codex-API-Key"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "da2de0eb-77d3-4a5b-a419-c5c489f9c2bd",
              "name": "text",
              "value": "={{ $('Research + Contacts').item.json.results[0].files[0].content + $('Research + Contacts').item.json.results[1].files[1].content + $json.files[1].content}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        192
      ],
      "id": "6576f38b-ad34-47bb-b3ac-499896508598",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0owTomNm6bHH8JGU",
          "mode": "list",
          "cachedResultUrl": "/workflow/0owTomNm6bHH8JGU",
          "cachedResultName": "Outreach Emails"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1792,
        272
      ],
      "id": "d5ddec2d-c461-483e-a68f-8ba01b70a6a3",
      "name": "Call 'Outreach Emails'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8bc00b53-aff8-49fd-96cb-23ad6902217a",
              "name": "Website",
              "value": "={{ $('Loop Over Items').item.json.Website }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        192
      ],
      "id": "7ba02d4f-f63b-4144-a6a6-1c80a8fb5c17",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Notify User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown to Google Docs": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research + Contacts": {
      "main": [
        [
          {
            "node": "Competitors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Research + Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Competitors": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Markdown to Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Outreach Emails'": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Call 'Outreach Emails'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "846ad1e6-10ef-44c2-ace0-e8fd075eca6d",
  "meta": {
    "instanceId": "14e4c77104722ab186539dfea5182e419aecc83d85963fe13f6de862c875ebfa"
  },
  "nodeGroups": [],
  "id": "MVzT2mv0sbNo6qgQ",
  "tags": [
    {
      "updatedAt": "2025-10-29T05:40:17.666Z",
      "createdAt": "2025-10-29T05:40:17.666Z",
      "id": "S2xpazKEex2eVwnl",
      "name": "AI Agent"
    },
    {
      "updatedAt": "2025-11-10T06:09:57.233Z",
      "createdAt": "2025-11-10T06:09:57.233Z",
      "id": "gVBWHXeZO6yYqYM6",
      "name": "sales"
    }
  ]
}